<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<remove name="LocalSqlServer"/>
		<add name="DBConn" connectionString="Data Source=dested.com;Initial Catalog=Dested_AnyCardGame;Persist Security Info=True;User ID=Dested_AnyCardGameUser;Password=Ddested" providerName="System.Data.SqlClient"/>
		<add name="DBConns" connectionString="server=DESTED3\Dested4;database=AnyCardGame2;user id=DESTED3\\Administrator;Trusted_Connection=yes;Connection Lifetime=0;Max Pool Size=1000" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	
</configuration>
